@use 'variables';
@use 'hero';
@use 'timeline';
@use 'more-info';
@use 'confetti';

// font-family: 'Lobster', cursive;
// font-family: 'Roboto', sans-serif;
// font-family: 'VT323', monospace;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    padding: 3%;
}

.title {
    font-family: 'VT323', monospace;
    font-size: 32px;
    color: variables.$textWhite;
    text-align: center;

    @media (max-width: 375px) {
        font-size: 24px;
    }
}

.text {
    font-family: 'Roboto', sans-serif;
    color: variables.$textWhite;
    line-height: 30px;
    text-align: center;
}

body{
    background-color: variables.$darkBg;
}